.wrapped {
	width: 100%;
    padding-left: 15px;
    padding-right: 15px;
	font-family: 'SofiaProBold', Arial, sans-serif;
}

.artwork {
  width: 100%;
  margin: 10px
}

.artwork h3 {
  padding: 10px;
  text-align: center;
  color: #3F3F3F;
  background-color: #ffe7d1;
}

.artwork-desc {
  margin: 10px;
  text-align: left;
  padding: 20px;
  float: right;
  width: 36%;
  color: #3F3F3F;
}

.a1photo {
  float: left;
  width: 60%;
  height: auto;
}

.a2photo {
  float: left;
  padding: 5px;
  width: 25%;
  height: auto;
}

.clearfix:after{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }